<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :contact %>
<% end %>

<div id="contact" class="w1064">
  <div class="contact-content clearfix">
    <p class="contact-headline"><%= @headline.line %> </p>
    <div class="contact-body clearfix">
      <div id="office">
        <h2>office</h2>
        <div class="office-address">
          <address>
            <span class="address1"><%= @address.address1 %></span><br>
            <span class="city"><%= @address.city %></span>, <span class="state"><%= @address.state %></span> <span class="zip"><%= @address.zip %></span><br>
            phone <span class="phone"><%= @address.phone %></span>
          </address>
        </div>

        <div class="office-person">
          <p class="bold name" data-email="<%= @person.email %>"><%= @person.name %></p>
          <p class="title"><%= @person.title %></p>
        </div>
      </div>
      <div id="reps">
        <h2>reps</h2>
        <div class="column" id="first-column" data-id="1">
        <% @column_one.each_with_index do |rl, i| %>
          <% if i != 0 && i % 2 == 0 %>
            <br>
          <% end %>
          <div class="rep <%= "first" if i % 2 == 0  %>" id="p_<%= rl.location.gsub(' ','+') %>" data-id="<%= rl.id %>" data-location="<%= rl.location %>">
            <p class="location"><%= rl.location %></p>
            <% rl.reps.order('id ASC').each do |r| %>
              <p class="bold"><a href="#"><%= r.name %></a></p>
            <% end %>
          </div>
        <% end %>
        </div>
        <div class="column" id="second-column" data-id="2">
        <% @column_two.each_with_index do |rl, i| %>
          <% if i != 0 && i % 2 == 0 %>
            <br>
          <% end %>
          <div class="rep <%= "first" if i % 2 == 0  %>" id="p_<%= rl.location.gsub(' ','+') %>" data-id="<%= rl.id %>" data-location="<%= rl.location %>">
            <p class="location"><%= rl.location %></p>
            <% rl.reps.order('id ASC').each do |r| %>
              <p class="bold"><a href="#"><%= r.name %></a></p>
            <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= content_for :javascripts do %>
  <%= javascript_include_tag :contacts_admin %>
<% end %>
