<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :admin %>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" width="100%" height="90%">
  <tbody>
    <tr>
      <td valign="middle">
        <div id="director" class="clearfix">
          <div id="videos-list">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
              <tbody>
                <tr>
                  <td valign="middle">
                    <h4><a href="#" id="add-video">Add videos</a></h4>

                    <% @director.projects.each do |p| %>
                      <h4 class="project" data-id="<%= p.id %>"><%= p.title %></h4>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="videos-container">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
              <tbody>
                <tr>
                  <td valign="middle">
                    <div id="video-player">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<script>
  var Bootstrap = {};
  Bootstrap.director_id = <%= @director.id %>;
</script>
