<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :memoir %>
<% end %>

<div id="special-ones">
  <div class="w1064">
    <div id ="description">
      <h2><%= @description.title %></h2>
      <p class="description"><%= @description.description %></p>
    </div>
  </div>

  <div id="post-container-container-container">
    <div id="post-container-container" class="w1064 ">
      <div id="post-container" class="clearfix">

        <div class="form-data hide">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="file" name="memoir[image]">
        </div>

        <% memoirs.each do |memoir| %>
          <div class="post clearfix" data-id="<%= memoir.id %>">
            <div class="image">
              <%= image_tag rails_blob_url(memoir.image.blob) %>
            </div>
            <div class="captions">
              <p class="caption">
                <%= memoir.caption %>
              </p>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<script>
  var Bootstrap = Bootstrap || {};
  Bootstrap.postCount = <%= memoirs.length %>;
</script>
<%= content_for :javascripts do %>
  <%= javascript_include_tag :memoirs_admin %>
<% end %>

