<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :directors %>
<% end  %>

<div id="video-options">
</div>
<table cellpadding="0" cellspacing="0" border="0" width="100%" height="90%">
  <tbody>
    <tr>
      <td valign="middle">
        <div id="director" class="clearfix">

          <div id="videos-list-container">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
              <tbody>
                <tr>
                  <td valign="middle">
                    <div id="videos-list">
                      <% @news.each do |n| %>
                        <div style="position: relative;" class="video-title" id="n_<%= n.wiredrive_id %>">
                          <h3 class="project"><%= n.title %></h3>
                          <a href="#" class="reorder-video" data-id="<%= n.wiredrive_id %>"></a>
                          <a href="#" class="remove-video" data-id="<%= n.wiredrive_id %>"></a>
                        </div>
                      <% end %>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="videos-container">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
              <tbody>
                <tr>
                  <td valign="middle">
                    <div id="video-player-container">
                      <div id="videos" style="background-image: url(<%= @news.first.try(:thumbnail_large) %>);"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

      </td>
    </tr>
  </tbody>
</table>

<script>
  var Bootstrap = {};
</script>

<%= content_for :javascripts do %>
  <%= javascript_include_tag :news_admin %>
<% end %>

