<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :directors %>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" width="100%" height="90%">
  <tbody>
    <tr>
      <td valign="middle">
        <div id="director" class="clearfix">
          <% unless params[:vid].present? %>
            <div id="videos-list">
              <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
                <tbody>
                  <tr>
                    <td valign="middle">
                      <% projects.each do |p| %>
                        <h3 class="project large">
                          <a data-vimeoid="<%= p.vimeo_id %>" data-id="<%= p.id %>" href="#">
                            <%= p.title %>
                          </a>
                        </h3>
                        <h3 class="project small">
                          <a data-vimeoid="<%= p.vimeo_id %>" data-id="<%= p.id %>" href="?vid=<%= p.id %>">
                            <%= p.title %>
                          </a>
                        </h3>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% end %>

          <div id="videos-container" class="<%= "show" if params[:vid].present? %>">
            <div class="table" style="height:100%;">
              <div class="table-cell">
                <div id="video-player">
                  <% if params[:vid] %>
                    <iframe id="vimeo-player" src="//player.vimeo.com/video/<%= @video_id %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                  <% end %>
                </div>
              </div>
            </div>
            <div class="table" id="bio-container">
              <div class="table-cell">
                <% unless director.bio.nil? %>
                  <h3><%= director.bio %></h3>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<script>
  var $window = $(window);

  function positionBtn($btn) {
    var windowHeight = $window.height();
    var windowWidth = $window.width();
    if (windowHeight < 610) {
      $btn.css({
        'top': 610 - 102 ,
        'bottom': 'auto'
      });
    } else {
      $btn.css({
        'top': 'auto',
        'bottom': '5.0em'
      });
    }

    if (windowWidth < 1190) {
      if (windowWidth < 1000) {
        $btn.css({
          'left': 928,
          'right': 'auto'
        });
      } else {
        $btn.css({
          'left': 'auto',
          'right': '20px'
        });
      }
    } else {
      $btn.css({
        'left': 'auto',
        'right': '5.0em'
      });
    }
  }

  $(document).ready(function() {
    var $btn = $('.back');

    $window.bind('resize', function() {
      positionBtn($btn);
    });
  });
</script>

<%= content_for :javascripts do %>
  <%= javascript_include_tag :director %>
<% end %>
