<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :directors %>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" width="100%" height="90%">
  <tbody>
    <tr>
      <td valign="middle">
        <div id="director" class="clearfix">
          <div id="videos-list">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
              <tbody>
                <tr>
                  <td valign="middle">
                    <% news.each do |n| %>
                      <h3 class="project">
                        <a data-videourl="<%= n.video_url %>" data-id="<%= n.id %>" href="#">
                          <%= n.title %>
                        </a>
                      </h3>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="videos-container">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" height="100%">
              <tbody>
                <tr>
                  <td valign="middle">
                    <div id="video-player">
                      <iframe id="vimeo-player" src="//player.vimeo.com/video/<%= news.first.try(:vimeo_id) %>" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<%= content_for :javascripts do %>
  <%= javascript_include_tag :news %>
<% end %>
