<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag :memoir %>
<% end %>

<div id="special-ones">
  <div class="w1064">
    <div id ="description">
      <h2>the special ones</h2><br><br>
      <p class="description">
      They appeared in the films of the ‘70s. <br><br>
      They are not named Pacino, De Niro, Streep, Dern, Cazale, Hoffman, Hackman, Holden, Voigt or Burstyn. They played the much smaller roles, the roles that no one tends to write about. Yet they deserve to be celebrated, for their performances remind us that good acting doesn’t require 90 pages of screen time. It can take place over two to three minutes, or in a span of thirty seconds.</p>
    </div>
  </div>
  <div id="post-container-container">
    <div id="post-container" class="clearfix">
      <div class="post clearfix">
        <div class="image">
          <img src="<%= asset_path 'memoir/murray.png' %>">
        </div>
        <div class="captions">
          <p class="caption">Murray Moston played Jacobs, the  bar owner in Scorsese’s Alice Doesn’t Live Here Anymore. There are a million ways to play this character, but it’s hard to imagine anything more believable than the way he did it.</p>
        </div>
      </div>
      <div class="post clearfix">
        <div class="image">
          <img src="<%= asset_path 'memoir/murray.png' %>">
        </div>
        <div class="captions">
          <p class="caption">Murray Moston played Jacobs, the  bar owner in Scorsese’s Alice Doesn’t Live Here Anymore. There are a million ways to play this character, but it’s hard to imagine anything more believable than the way he did it.</p>
        </div>
      </div>
    </div>
    <!--
    <div class="post clearfix">
      <div class="image">
        <div class="gradient"></div>
      </div>
      <div class="captions">
        <p class="caption">Murray Moston played Jacobs, the  bar owner in Scorsese’s Alice Doesn’t Live Here Anymore. There are a million ways to play this character, but it’s hard to imagine anything more believable than the way he did it.</p>
      </div>
    </div>
    -->
  </div>
</div>

<script>
  var Bootstrap = Bootstrap || {};
  Bootstrap.postCount = 5;
</script>
<%= javascript_include_tag :memoirs_admin %>


