<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dummy - admin</title>
  <%= javascript_include_tag "base" %>
  <%= stylesheet_link_tag "base", :media => "all" %>
  <%= yield :stylesheets %>
  <meta charset="utf-8">
  <meta name="description" content="The collected works of Director Harold Einstein.">
  <meta name="keywords" content="harold einstein, dummy films, dummy">
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |type, msg| %>
  <%= content_tag :p, msg, class: "flash #{type}" %>
<% end %>

<% unless @editable == "false" %>
  <div id="admin-bar">
    <button class="btn disabled" id="save-button">save changes</button>
    <button class="btn positive" id="add-action"><%= @add_action %></a>
  </div>
<% end %>

<div id="main-container">
  <%= yield %>
</div>

<%= javascript_include_tag :admin %>
<%= yield :javascripts %>

</body>
</html>
