<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="The collected works of Director Harold Einstein.">
  <meta name="keywords" content="harold einstein, dummy films, dummy">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>

  <title>Dummy</title>

  <%= javascript_include_tag "base" %>

  <%= stylesheet_link_tag "base", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7214052/788882/css/fonts.css" />
  <%= yield :stylesheets %>
</head>
<body class="<%= "#{current_controller}-#{current_action}" %>">

<div style="color: #000; position: absolute; top: 0px; left: 0px;">The production company started by Director Harold Einstein and Executive Producer Eric Liney.</div>

<% flash.each do |type, msg| %>
  <p class="flash <%= "#{type}" %>"><%= msg %></p>
<% end %>

<div id="main-container">
  <%= yield %>
</div>

<div class="back">
  <a style="display: block; width: 100%; height: 100%;" href="/"></a>
</div>

</body>

<script>
  var customPath = "../../fonts";
</script>
<script type="text/javascript" src="../../fonts/dummyfilm.js"></script>

<%= yield :javascripts %>

</html>
