<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "base", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7214052/788882/css/fonts.css" />
  <%= yield :stylesheets %>
  <%= javascript_include_tag "base" %>
  <meta charset="utf-8">
  <meta name="description" content="The collected works of Director Harold Einstein.">
  <meta name="keywords" content="harold einstein, dummy films, dummy">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{current_controller}-#{current_action}" %>">

<% flash.each do |type, msg| %>
  <p class="flash <%= "#{type}" %>"><%= msg %></p>
<% end %>

<div id="main-container">
  <%= yield %>
</div>

</body>

<script>
  var customPath = "../../fonts";
</script>
<script type="text/javascript" src="../../fonts/dummyfilm.js"></script>
<%= yield :javascripts %>

</html>
