<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "base", :media => "all" %>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "base" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main-container">
  <%= yield %>
</div>

<%= yield :javascripts %>

</body>
</html>
